.Footer{
    width: 100%;
    height: 35vh;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    color: #FFF;
    background: #232525;
    box-sizing: border-box;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300;
}
.Footer-top{
    height: 50%;
    display: flex;
    padding-left: 10%;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}
.Footer-top-left{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: center;
}
.Footer-top-left__email{
    width: 60%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #999;
    background: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}
.Footer-top-left__submit{
    background: #a2dc4d;
    color: #FFF;
    width: 30%;
    height: 50px;
    min-width: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #a2dc4d;
    font-size: 16px;
}

.Footer-menu-social{
    margin: 20px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Footer-menu-social .menu-social-item{
    list-style-type: none;
    margin: 0 15px;
}

.Footer-menu-social .menu-social-item a{
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

.Footer-menu-social .menu-social-item a.social-facebook{
    background-image: url(../../../assets/images/social-facebook.svg);
}


.Footer-menu-social .menu-social-item a.social-instagram{
    background-image: url(../../../assets/images/social-instagram.svg);
}


.Footer-menu-social .menu-social-item a.social-linkedin{
    background-image: url(../../../assets/images/social-linkedin.svg);
}

.Footer-menu-social .menu-social-item a.social-twitter{
    background-image: url(../../../assets/images/social-twitter.svg);
}



@media (max-width: 768px){
    .Footer{
        height: auto;
    }
    .Footer-top{
        flex-wrap: wrap;
        height: 250px;
        padding: 0 10%;
        margin: 5% 0;
    }
    .Footer-top-left{
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
    }
    .Footer-top-left__email{
        width: 60%;
    }
    .Footer-top-left__submit{
        width: 40%;
    }
}
@media (max-width: 425px){

    .Footer-top-left__email{
        width: 100%;
    }
    .Footer-top-left__submit{
        width: 100%;
    }
}
